@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popping', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('images/background_desktop.png') no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

a {
    font-size: 1em;
    color: #022a2a;
    text-decoration: none;
    font-weight: 600;
}

p {
    margin-top: 5px;
}

h4{
    color: #022a2a;
    margin-top: 5px;
}

ul {
    list-style-type: none;
    padding-left: 1.5em; /* Adjust this value based on the width of the bullet point */
  }
  ul li:before {
    content: "•";
    display: inline-block;
    width: 1em; /* Adjust this value to match the width of the bullet point */
    margin-left: -1em; /* Negative value equal to the width to hide the bullet point */
  }

.soccerIcon {
    position: fixed;
    left: 25px;
    top: 0px;
    color: gray;
    font-size: 128px;
}

.title {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation .language{
    margin-left: 0px;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition:  .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnRegister-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnRegister-popup:hover {
    background-color: #fff;
    color: #022a2a;
}

.wrapper {
    position: relative;
    width: 350px;
    height: 300px;
    margin-left: 20px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform 0.15s ease, height .2s ease;
}

.wrapper.active-popup {
    transform: scale(1);
    transition: transform .35s ease;
}

.wrapper .form-box {
    width: 100%;
    padding: 20px;
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #022a2a;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: #022a2a;
    text-align: center;
}

.rules {
    position: relative;
    margin-right: 20px;
}

.btn {
    width: 100%;
    height: 45px;
    background: #022a2a;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.team-solo {
    font-size: .9em;
    color: #022a2a;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.team-solo a {
    color: #022a2a;
    text-decoration: none;
    font-weight: 600;
}

.team-solo a:hover {
    text-decoration: underline;
}

.mailto a:hover {
    text-decoration: underline;
}

.info-box {
    position: relative;
    padding: 20px;
    margin: 20px;
    background: rgba(2, 42, 42, .8);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .8);
    display:block;
    color: white;
}

.info-box a {
    color: #d9ead3;
}

.text-box {
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, .8);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .8);
    display:block;
}

.text-box.narrow {
    width: 350px;
}

.text-box h2 {
    font-size: 2em;
    color: #022a2a;
    text-align: center;
}

.home {
    text-decoration: none;
    color: #fff;
}

@media only screen and (max-device-width: 768px) {
    /* CSS rules for mobile devices */
    
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: url('images/background_mobile.png') no-repeat;
        background-size: cover;
        background-position: center;
    }

    .soccerIcon {
        position: fixed;
        left: 5px;
        top: 0px;
        color: gray;
        font-size: 64px;
        
    }

    header {
        position: fixed;
        background: #022a2a;
        top: 0;
        left: 0;
        width: 100%;
        padding: 15px 10px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 99;
    }

    .navigation {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-left: 40px;
        padding-right: 30px;
    }
    
    .navigation a {
        position: relative;
        font-size: 1.1em;
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        margin-left: 5px;
    }

    .navigation .btnRegister-popup {
        width: 130px;
        height: 40px;
        background: transparent;
        border: 2px solid #fff;
        outline: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1.1em;
        color: #fff;
        font-weight: 500;
        margin-left: 0px;
        margin-bottom: 20px;
        transition: .5s;
    }

    .navigation .btnRegister-popup:active {
        background-color: #fff;
        color: #022a2a;
    }

    .text-box {
        position: relative;
        padding: 20px;
        margin-left: 10px;
        background: rgba(255, 255, 255, .8);
        border-radius: 20px;
        backdrop-filter: blur(10px);
        box-shadow: 0 0 30px rgba(0, 0, 0, .8);
        display:block;
    }

    .wrapper {
        position: relative;
        width: 100%;
        z-index: 1;
        margin: 10px;
    }
    
    .rules {
        position: absolute;
        top: 50;
        left: 0;
        width: 100%;
        padding: 20px;
    }
  }
  